---

applications:
  - name: notify-paas-autoscaler
    buildpacks:
      - python_buildpack
    health-check-type: none
    routes:
      - route: notify-paas-autoscaler-{{ environment }}.cloudapps.digital
    instances: 2
    memory: 128M
    stack: cflinuxfs4
    env:
      PYTHONUNBUFFERED: 1
      CONFIG_PATH: /home/vcap/app/config.yml
      STATSD_HOST: notify-statsd-exporter-{{ environment }}.apps.internal
      AWS_ACCESS_KEY_ID: {{ aws_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key }}
      CF_USERNAME: {{ cf_username }}
      CF_PASSWORD: {{ cf_password }}
      SQLALCHEMY_DATABASE_URI: '{{ sqlalchemy_database_uri }}'
      REDIS_URL: '{{ redis_url }}'
    services:
      - logit-ssl-syslog-drain
