boto3==1.16.30
cloudfoundry-client==1.14.1
psycopg2-binary==2.8.4
pyyaml==5.4
redis==3.4.1
pytz==2020.4

git+https://github.com/alphagov/notifications-utils.git@43.5.4#egg=notifications-utils==43.5.4
