boto3==1.17.38
cloudfoundry-client==1.16.1
psycopg2-binary==2.8.6
pyyaml==5.4.1
redis==3.5.3
pytz==2021.1

git+https://github.com/alphagov/notifications-utils.git@44.0.2#egg=notifications-utils==44.0.2
